//= templates/header.html
<section class="container-fluid section-1">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <h1>Найду
                    покупателя
                    за&nbsp;две недели
                    <span class="line">
                        Средний срок
                    </span></h1>
            </div>
            <div class="col-md-6 form-left">
                <p class="form-title">Узнайте настоящую рыночную стоимость вашей квартиры за&nbsp;10 минут</p>
                <form action="" class="style-form">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <input type="text" placeholder="Город">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Улица">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" placeholder="Дом">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" placeholder="Квартира">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-7">
                            <input type="email" placeholder="Эл. почта">
                        </div>
                        <div class="form-group col-md-7">
                            <input type="tel" placeholder="Телефон">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-action col-md-6 mx-auto">
                            <button type="submit">Оценить квартиру</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<section class="section-2">
    <div class="container">
        <h3>Познакомимся?</h3>
        <h2>Я&nbsp;&mdash; риэлтор, которому не&nbsp;все равно</h2>
        <div class="row">
            <div class="text-start fs30 col-md-12">
                <p>Меня зовут Роман Мельников и&nbsp;я&nbsp;фанат недвижимости.
                    Я&nbsp;помогаю продавать недвижимость, оформлять сделки, получать ипотеку, проводить сложные
                    операции
                    и&nbsp;просто хороший человек </p>
            </div>
            <div class="about col-md-6">
                <div class="item d-flex align-items-center">
                    <div class="img">
                        <img src="img/about-1.svg" alt="">
                    </div>
                    <div class="text fs30">
                        <p>Работаю 4 года</p>
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div class="img">
                        <img src="img/about-2.svg" alt="">
                    </div>
                    <div class="text fs30">
                        <p>Продал 52 объекта на&nbsp;сумму более 400&nbsp;млн. рублей</p>
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div class="img">
                        <img src="img/about-3.svg" alt="">
                    </div>
                    <div class="text fs30">
                        <p>Успешно провел 81 сделку</p>
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div class="img">
                        <img src="img/about-4.svg" alt="">
                    </div>
                    <div class="text fs30">
                        <p>В&nbsp;большинстве случаев нахожу покупателя за&nbsp;две недели</p>
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div class="img">
                        <img src="img/about-5.svg" alt="">
                    </div>
                    <div class="text fs30">
                        <p>Почти всегда продаю квартиру на&nbsp;5&mdash;7% выше рыночной цены</p>
                    </div>
                </div>
            </div>
            <div class="person">
                <img src="img/persona.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="section-3">

    <div class="container">
        <h2>Чем я&nbsp;лучше других?</h2>
        <div class="row better">
            <div class="col-md-4 item">
                <p>Отлично подкован в&nbsp;юридических вопросах. Всегда на&nbsp;связи (когда не&nbsp;сплю) Соблюдаю
                    сроки и
                    договоренности Не&nbsp;бросаю дело на&nbsp;пол пути и&nbsp;ответственно подхожу к&nbsp;работе.</p>
            </div>
            <div class="col-md-4 item">
                <p>Работаю с&nbsp;профессиональным фотографом, который не&nbsp;просто делает фото, а&nbsp;разрабатывает
                    сценарий и
                    покажет квартиру в&nbsp;самых выгодных ракурсах.</p>
            </div>
            <div class="col-md-4 item">
                <p>Разбираюсь в&nbsp;современных методах рекламы, качественно настраиваю и&nbsp;лично отслеживаю
                    эффективность.
                    Затраты
                    на&nbsp;рекламу полностью оплачиваю сам.</p>
            </div>
            <div class="col-md-4 item">
                <p>Моя главная задача&nbsp;&mdash; максимально выгодная сделка по&nbsp;цене и&nbsp;условиям для
                    клиента.</p>
            </div>
            <div class="col-md-4 item">
                <p>Беру на&nbsp;себя заботы о&nbsp;сделке на&nbsp;всех этапах: от&nbsp;подготовки объекта и&nbsp;клининга,
                    до&nbsp;взаиморасчетов и
                    получения денег.</p>
            </div>
            <div class="col-md-4 item">
                <p>Не&nbsp;забываю ни&nbsp;про одного потенциального покупателя, потому что использую CRM.</p>
            </div>
        </div>
        <div class="button-default mx-auto">
            Заказать обратный звонок
        </div>
    </div>
</section>
<section class="section-4">
    <div class="container">
        <h2>13 смертных проблем риэлторов</h2>
        <div class="row ">
            <div class="col-md-4">
                <div class="item">
                    <div class="number">
                        1
                    </div>
                    <div class="text">
                        <p>Огромное количество случайных людей в&nbsp;профессии. Не&nbsp;имеют юридической подготовки,
                            делают
                            ошибки в&nbsp;документах.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="number">
                        2
                    </div>
                    <div class="text">
                        <p>В&nbsp;процессе сделки клиента
                            могут &laquo;бросить&raquo;, если пони&mdash;
                            мают, что дело сложное.
                            Или просто потому что &laquo;у&nbsp;моей кошки свадьба&raquo;.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="number">
                        3
                    </div>
                    <div class="text">
                        <p>Старательно делают вид
                            что привлекают много людей, но&nbsp;на&nbsp;показ никто
                            не&nbsp;приходит.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="item">
                    <div class="number">
                        4
                    </div>
                    <div class="text">
                        <p>Объекты не&nbsp;готовы к&nbsp;сделке в&nbsp;плане документов, потому что не&nbsp;была
                            проведена предварительная
                            работа в&nbsp;этом направлении. Это затягивает сделку, или делает
                            ее&nbsp;невозможной </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="item">
                    <div class="number">
                        5
                    </div>
                    <div class="text">
                        <p>Агенты не&nbsp;говорят клиенту правку о&nbsp;реальной цене объекта, чтобы удержать его, из-за
                            этого
                            продажа затягивается. В&nbsp;итоге квартира
                            не&nbsp;будет продана или будет, но&nbsp;по&nbsp;цене значительно ниже</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="item">
                    <div class="number">
                        6
                    </div>
                    <div class="text">
                        <p>Изначально клиенту оценивают квартиру по&nbsp;низкой стоимости, чтобы побыстрее продать.
                            Реальный
                            случай: квартиру оценили в&nbsp;8.5 млн, а&nbsp;я&nbsp;продал
                            за&nbsp;9.5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="number">
                        7
                    </div>
                    <div class="text">
                        <p>Агенты&nbsp;&mdash; не&nbsp;разбираются
                            в&nbsp;современных методах рекламы
                            и&nbsp;продвижения объекта
                            Не&nbsp;знают, что продавать квартиры как в&nbsp;2007
                            уже не&nbsp;работает.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="number">
                        8
                    </div>
                    <div class="text">
                        <p>Агенты заинтересованны лишь в&nbsp;быстром проведении сделки и&nbsp;комиссионных, а&nbsp;не&nbsp;в&nbsp;защи&mdash;
                            те&nbsp;интересов клиента.
                            Это негативно влияет на&nbsp;торги и&nbsp;условия сделки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="item">
                    <div class="number">
                        9
                    </div>
                    <div class="text">
                        <p>Агенты не&nbsp;уделяют внимание выбору покупателя и&nbsp;соглашаются
                            на&nbsp;первого попавшегося, который приходит с&nbsp;какой-нибудь городской субсидией. В&nbsp;итоге
                            клиент
                            3 месяца ждет денег, пока согласуют субсидию, пока объект одобрят, пока государство
                            переведет деньги за&nbsp;квартиру. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="item">
                    <div class="number">
                        10
                    </div>
                    <div class="text">
                        <p>Агенты безответственно подходят к&nbsp;подготовке объекта. Уборка, расстановка мебели,
                            качественные фото, грамотное описание&nbsp;&mdash; без этого не&nbsp;обойтись, но&nbsp;интернет
                            полон ужасных
                            фотографий и&nbsp;описаний в&nbsp;виде трех предложений.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="item">
                    <div class="number">
                        11
                    </div>
                    <div class="text">
                        <p>Готовность к&nbsp;показам&nbsp;&mdash; отдельный разговор.
                            Агенты очень ленивые, постоянно заняты. Даже если квартира вам очень нужна&nbsp;&mdash; до&nbsp;агента
                            не
                            дозвониться, ни&nbsp;связаться голубем.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="item">
                    <div class="number">
                        12
                    </div>
                    <div class="text">
                        <p>Клиент сам делает всю работу. Фото, показы, торги&nbsp;&mdash; все это работа агента, но&nbsp;особо
                            смышленые с&nbsp;радостью перекладывает ответственность на&nbsp;плечи заказчика.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="item">
                    <div class="number">
                        13
                    </div>
                    <div class="text">
                        <p>Агенты не&nbsp;умеют вести переговоры
                            и&nbsp;деловую переписку. Отсутствие знаний
                            по&nbsp;подготовке документов
                            и&nbsp;бюрократическим вопросам&nbsp;&mdash; это вообще номинант на&nbsp;первый котел в&nbsp;аду.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-5">
    <div class="container">
        <h2>А знаете, как должно быть? <br/>
            Сейчас расскажу</h2>
        <div class="soez">
            <h3>Все будет легко</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="number">
                            1
                        </div>
                        <div class="text-block">
                            <div class="img">
                                <img src="img/soez-1.svg" alt="">
                            </div>
                            <div class="text">
                                <p>Первичная консультация</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="number">
                            2
                        </div>
                        <div class="text-block">
                            <div class="img">
                                <img src="img/soez-2.svg" alt="">
                            </div>
                            <div class="text">
                                <p>Оценка объекта
                                    и обсуждение условий</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="number">
                            3
                        </div>
                        <div class="text-block">
                            <div class="img">
                                <img src="img/soez-3.svg" alt="">
                            </div>
                            <div class="text">
                                <p>Согласование
                                    и подписание договора</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="number">
                            4
                        </div>
                        <div class="text-block">
                            <div class="img">
                                <img src="img/soez-4.svg" alt="">
                            </div>
                            <div class="text">
                                <p>Красивая и быстрая
                                    продажа без аванса за услуги</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-6">
    <div class="container">
        <h2>Как я готовлю квартиру к продаже</h2>
        <p class="text-desc">Если коротко и по делу — я все сделаю за вас. Быстро и красиво.
            Можете просто отдать мне ключи и расслабиться — я изучу рынок, подготовлю квартиру, проведу просмотры и решу
            все вопросы</p>
        <div class="start-sell">
             <div class="item">
                 <div class="img">
                     <img src="img/sell-1.svg" alt="">
                 </div>
                 <div class="text">
                     Если есть проблемы с документами, я решаю их<br/>параллельно с подготовкой квартиры.
                 </div>
             </div>
             <div class="item">
                 <div class="img">
                     <img src="img/sell-2.svg" alt="">
                 </div>
                 <div class="text">
                     Заказываю уборку и мелкий ремонт. У меня есть проверенная команда,<br/>чтобы сделать и то и другое очень качественно и за разумные деньги.
                 </div>
             </div>
             <div class="item">
                 <div class="img">
                     <img src="img/sell-3.svg" alt="">
                 </div>
                 <div class="text">
                     Делаем легкий декор: шторы, цветы, фрукты и тому подобные<br/>важные мелочи. Если надо — найдем даже котика.
                 </div>
             </div>
             <div class="item">
                 <div class="img">
                     <img src="img/sell-4.svg" alt="">
                 </div>
                 <div class="text">
                     Проводим детальную фотосессию — все необходимые помещения,<br/>ракурсы и детали снимаются профессиональным фотографом.<br/>Если необходимо — снимаем видео.
                 </div>
             </div>
        </div>
        <div class="foot_text">
            <h3>Запускаю рекламу на основные<br/>
                сайты по недвижимости.<br/>
                Сайты подбираются исходя из задачи (оплата рекламы за мой счет).
           </h3>
            <span>Обычно покупатель находится за две недели.</span>
            <div class="button-default ml-auto">
                А так можно было? Хочу!
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h2>Как я веду переговоры с покупателем</h2>
        <div class="talk">
            <div class="item">
                <div class="number">
                    1
                </div>
                <div class="text">
                    В первую очередь я защищаю интересы клиента Это моя рептуация и принцип.
                </div>
            </div>
        </div>
    </div>
</section>
//= templates/footer.html
